.banner {
    @extend .d-flex, .justify-content-center, .align-items-center;
    background-color: var(--bs-primary);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    transition: var(--zifa-transition);

    h1,
    p {
        color: var(--bs-white);
    }

    h1 {
        font-weight: 800;
    }

    .container {
        position: relative;
        top: 0;
        z-index: 2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    p#breadcrumbs {
		color: var(--bs-white);
		// margin: 0;

        a {
            color: var(--bs-secondary);
            border: none;

            &:hover {
                color: var(--bs--white);
            }
        }

        span.breadcrumb_last {
            color: var(--bs-white);
        }
    }
}


// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .banner {
        height: 500px;

        .container {
            top: 100px;
        }
    }
}

