/********************************

	1. btn, btn-primary
	2. btn-secondary
	3. wordpres buttons

********************************/

//
// 1. btn-primary
//

.btn {
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  transition: var(--zifa-transition);
}

.btn-primary {
  --bs-btn-color: var(--bs-black);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  // --bs-btn-focus-shadow-rgb: 49, 132, 253;
  // --bs-btn-active-color: #fff;
  // --bs-btn-active-bg: #0a58ca;
  // --bs-btn-active-border-color: #0a53be;
  // --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  // --bs-btn-disabled-color: #fff;
  // --bs-btn-disabled-bg: #0d6efd;
  // --bs-btn-disabled-border-color: #0d6efd;
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &:after,
  &:before {
    display: block;
    position: absolute;
    content: "";
  }

  &:after {
    background-color: var(--bs-primary);
    -ms-transform: skewX(-22deg);
    transform: skewX(-22deg);
    top: -5px;
    right: -20px;
    width: 55px;
    height: 50px;
    transition: var(--zifa-transition);
  }

  &::before {
    @extend .fw-bolder;
    color: var(--bs-white);
    display: inline-block;
    content: "\F280";
    font-family: "bootstrap-icons" !important;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    top: 50%;
    z-index: 2;
  }

  &:hover {
    &:after {
      background-color: var(--bs-secondary);
    }

    &::before {
      color: var(--bs-black);
    }
  }
}

.btn-primary.active {
  cursor: pointer;
  cursor: not-allowed;
}

//
// 2. btn-secondary
//
.btn-secondary {
  --bs-btn-color: var(--bs-black);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-black);
  --bs-btn-hover-border-color: var(--bs-black);
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &:after,
  &:before {
    display: block;
    position: absolute;
    content: "";
  }

  &:after {
    background-color: var(--bs-black);
    -ms-transform: skewX(-22deg);
    transform: skewX(-22deg);
    top: -5px;
    right: -20px;
    width: 55px;
    height: 50px;
    transition: var(--zifa-transition);
  }

  &::before {
    @extend .fw-bolder;
    color: var(--bs-white);
    display: inline-block;
    content: "\F280";
    font-family: "bootstrap-icons" !important;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    top: 50%;
    z-index: 2;
  }

  &:hover {
    &:after {
      background-color: var(--bs-secondary);
    }

    &::before {
      color: var(--bs-black);
    }
  }
}

.btn-secondary.active {
  cursor: pointer;
  cursor: not-allowed;
}

//
// 3. wordpres buttons
//

// Apply Bootstrap styles to WordPress buttons
.wp-block-button__link,
.button,
input[type="submit"],
button {
  @extend .btn; // Extends Bootstrap button base
  @extend .btn-primary; // Default primary button
}

// Adjust block buttons inside Gutenberg editor
.wp-block-button {
  .wp-block-button__link {
    @extend .btn;
    @extend .btn-primary;
  }
}

//
// 4. Search form clear
//
// Built-in clear "x" button inside search input is controlled by browser-specific pseudo-elements but...

// // 1) Remove the Default Clear Icon Appearance
// input[type="search"]::-webkit-search-cancel-button {
// 	-webkit-appearance: none;
// }

// // 2) Add a Custom Clear Icon
// input[type="search"] {
// 	padding-right: 2.5rem;
// 	/* Provide space for the clear icon */
// 	background-image: url('data:image/svg+xml;utf8,<svg fill="%23ccc" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 1 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
// 	background-repeat: no-repeat;
// 	background-position: right 0.75rem center;
// 	background-size: 1rem;
// }

.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-next:before,
.fg-image-viewer .fiv-inner .fiv-ctrls .fiv-prev:before {
  display: block;
  position: absolute;
  font-size: 24px;
  line-height: 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: transform 0.3s;
  color: black !important;
}

/* ONLY the gallery prev/next buttons */
.fiv-ctrls .fiv-prev::after,
.fiv-ctrls .fiv-next::after {
  content: "";
  background-color: var(--bs-primary);
  transform: skewX(-22deg);
  top: -5px;
  right: -20px;
  width: 55px;
  height: 50px;
  transition: var(--zifa-transition);
  position: absolute;
  display: none; /* change to block if you want it visible */
}

.fiv-ctrls .fiv-prev::before,
.fiv-ctrls .fiv-next::before {
  content: "\f280"; /* change to your icon code */
  font-family: "bootstrap-icons" !important;
  color: var(--bs-white);
  position: absolute;
  transform: translateY(-50%);
  right: 8px;
  top: 50%;
  z-index: 2;
  display: none; /* change to inline-block if you want it visible */
}
