.card.contact-form {
    padding: 30px;
}

.google-maps {
    background-color: var(--bs-gray-200);
    width: 100%;
    padding: 10px;
    margin: 30px 0;
}

.card.contact-greeting {
    background-color: var(--bs-primary);
    border: 0;
    
    .contact-details {
        padding: 30px;
        height: auto;

        h3,
        h5,
        p {
            color: var(--bs-white);
        }

        p {
            font-weight: 500;
        }

        h5 {
            margin: 5px 0 0 0;
        }

        a {
            color: var(--bs-white);
            // text-decoration: underline;

            &:hover {
                color: var(--bs-secondary);
            }
        }
    }
}