.pagination {
    clear: both;
    padding: 50px 0;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;

    a,
    span {
        display: block;
        float: left;
        width: auto;
        margin: 0 3px 0 0;
        padding: 8px 16px;
        text-decoration: none;
        transition: var(--zifa-transition);
    }

    a {
        color: var(--bs-primary);
        background-color: var(--bs-gray-400);

        &:hover {
            color: var(--bs-black);
            background-color: var(--bs-secondary);
        }
    }

    span,
    .current {
        color: var(--bs-white);
        background-color: var(--bs-primary);
    }
}