.swiperHome.swiper {
    width: 100%;
    height: 500px;
    position: relative;
    transition: var(--zifa-transition);

    .swiper-slide {
        background-position: bottom !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--bs-primary);
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .slider-content {
        position: absolute;
        bottom: 20%;
        z-index: 2;

        h1 {
            color: var(--bs-black);
            font-size: 2rem;
            font-weight: 800;
        }

        .card-text {
            margin-bottom: 30px;
        }
    }

    .swiper-pagination-bullet {
        width: 25px;
        height: 15px;
        display: inline-block;
        border-radius: 15px;
        background: var(--bs-gray-300);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--swiper-pagination-color, var(--swiper-theme-color));
        width: 40px;
        border-radius: 15px;
    }
    
    --swiper-pagination-color: var(--bs-secondary);
    // --swiper-pagination-left: auto;
    // --swiper-pagination-right: 8px;

    // --swiper-pagination-bottom: 8px;
    --swiper-pagination-bottom: 30px;

    // --swiper-pagination-top: auto;
    // --swiper-pagination-fraction-color: inherit;
    // --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    // --swiper-pagination-progressbar-size: 4px;
    // --swiper-pagination-bullet-size: 8px;
    // --swiper-pagination-bullet-width: 8px;
    // --swiper-pagination-bullet-height: 8px;
    // --swiper-pagination-bullet-inactive-color: #000;
    // --swiper-pagination-bullet-inactive-opacity: 0.2;
    // --swiper-pagination-bullet-opacity: 1;

    // --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-horizontal-gap: 8px;

    // --swiper-pagination-bullet-vertical-gap: 6px;
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .swiperHome.swiper {
        height: 500px;
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .swiperHome.swiper {
        height: 700px;
    }
}



//
// Partners
//

.zifaPartners.swiper {
    width: 100%;
    height: auto;   
    position: relative;
    padding: 20px 0 60px 0;

    .swiper-pagination-bullet {
        width: 25px;
        height: 15px;
        display: inline-block;
        border-radius: 15px;
        background: var(--bs-gray-300);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--swiper-pagination-color, var(--swiper-theme-color));
        width: 40px;
        border-radius: 15px;
    }

    --swiper-pagination-color: var(--bs-secondary);
    // --swiper-pagination-left: auto;
    // --swiper-pagination-right: 8px;

    // --swiper-pagination-bottom: 8px;
    --swiper-pagination-bottom: 0;

    // --swiper-pagination-top: auto;
    // --swiper-pagination-fraction-color: inherit;
    // --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    // --swiper-pagination-progressbar-size: 4px;
    // --swiper-pagination-bullet-size: 8px;
    // --swiper-pagination-bullet-width: 8px;
    // --swiper-pagination-bullet-height: 8px;
    // --swiper-pagination-bullet-inactive-color: #000;
    // --swiper-pagination-bullet-inactive-opacity: 0.2;
    // --swiper-pagination-bullet-opacity: 1;

    // --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-horizontal-gap: 8px;

    // --swiper-pagination-bullet-vertical-gap: 6px;
}



//
// Custom Navigation buttons
// 
.swiper-nav-button {
    fill: none;
    cursor: pointer;
    
    .shape {
        fill: var(--bs-secondary);
        transition: var(--zifa-transition);
    }

    .arrow {
        stroke: var(--bs-white);
        stroke-width: 2.5;
        stroke-linecap: round;
        transition: var(--zifa-transition);
    }

    &:hover {
        cursor: pointer;

        .shape {
            fill: var(--bs-primary);
        }
    }
}